.hidden{
  position: absolute;
  left: -999em;
}

i{
  width: 16px;
}

body{
  font-family: 'Raleway', sans-serif;
}

.App{
  width: 100vw;
}

/* Header CSS */
.header-background{
  background-image: url('./imgs/headerbg.jpeg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  margin-bottom: 1em;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.header-body-container{
  padding: 8em 0 8em 0;
  width: 50%;
}

.header-heading{
  text-align: center;
  font-size: 4em;
  color: white; 
}

.header-text{
  text-align: center;
  color: white;
}

/* Index CSS */
.card-img-top{
  max-height: 200px;
  min-height: 150px;
  object-fit: cover;
}

.card-title{
  font-weight: bold;
  font-size: 1.2em;
}

.results{
  margin: 2em 0 1em 0;
}