.hidden{
  position: absolute;
  left: -999em;
}

body{
  font-family: 'Raleway', sans-serif;
}

.App{
  width: 100vw;
}

.header-background{
  background-image: url('./imgs/headerbg.jpeg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  margin-bottom: 1em;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.header-body-container{
  padding: 8em 0 8em 0;
  width: 50%;
}

.header-heading{
  text-align: center;
  font-size: 4em;
  color: white; 
}

.header-text{
  text-align: center;
  color: white;
}
